PySide6
yt-dlp
pypdf
arrow
deep-translator
youtube-transcript-api
requests
duckduckgo-search
geopy
folium
beautifulsoup4
httpx
pyttsx3
python-docx
pikepdf
img2pdf
qrcode
fpdf2
adblockparser
mammoth
pymupdf
pdf2docx
pandas
openpyxl
pdfplumber
python-pptx
py7zr
